<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eaapps.thebesacademy"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".Utils.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_apps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"
            />
        <activity
            android:name=".Activities.SignUp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".Student.StudentHome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
        <activity
            android:name=".Teacher.HomeTeacher"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
        <activity
            android:name=".Admin.AdminHome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />

        <!-- chat -->

        <service android:name=".Service.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>



        <activity android:name=".Chats.ChatHome"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
        <activity android:name=".Chats.ChatViewActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
        <activity
            android:name=".Material.RegisterMaterial"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Material.AddTable"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Post.AddPost" />
        <activity android:name=".Post.ShowNews" />
        <activity android:name=".Student.Attendance" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".Student.ThebesTables"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.EditProfile"
            android:screenOrientation="portrait"

            />
        <activity
            android:name=".Files.ViewPDF"
            android:screenOrientation="portrait"

            />
        <activity
            android:name=".Teacher.BrowserFile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"


            />
        <activity
            android:name=".Teacher.UploadFiles"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"


            />
        <activity
            android:name=".Teacher.TeacherListFile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
        <activity
            android:name=".Activities.AttendanceList"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
        <activity
            android:name=".Student.ChatDoctors"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
        <activity
            android:name=".Student.FilesUploadShow"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
        <activity
            android:name=".Student.FilesShow"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
        <activity
            android:name=".Activities.NoNet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"

            />
    </application>

</manifest>